page-content {

    .scroll-content{
        background: url("../../assets/img/background.png") no-repeat center center fixed;
        background-color: #079B20;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    
    }

    .button-center{
        margin-left: auto;
        margin-right: auto;
        color: "secondary"
    }
}
